.rota90{
   background-color: rgb(249, 249, 252); opacity: 0.85;
}

.color{
   
   background-color: rgb(249, 249, 252); opacity: 0.85;  
}
.color1{
  background-color: rgb(249, 249, 252); opacity: 0.70;  
}
.color2{
  background-color: rgb(249, 249, 252); opacity: 0.85; 
  -writing-mode: vertical-lr;
 
}
.h1{
   width: 50px;
   font-size: 50px;
}

.azul{
   background: #2121F6;
}
.verde{
   background: #408F3C;
}
.celeste{
   background: #54AFF8;
}
.naranja{
   background: #F4971B;
}
.morado{
   background: #812AD8;
}
.beige{
   background: #FADFAD;
}
.gris{
   background: #6C6B6D;
}
.rojo{
   background: #F7271D;
}


* { 
  margin:0;
  padding:0;
}

#contenedor { /*Cambia el tamaño del fondo*/
  margin:6px auto;
  width:120%;
}


body { 
    margin: 0 auto; 
}
#contenido_texto {
  background-color:#D4E0E3;
  float:right;
  padding:2%;
  width: 91%;
  height:1264px;

}

#cabecera {
    margin:6px auto;
    background-color:#000;
    color:#f96;
    padding:2%;
    background-size:100% 100%;
    background-image:url("ima/banner.jpg"); 
    width:70%;
    height:30px;
}

