#contenido_texto {
  background-color:#D4E0E3;
  float:right;
  padding:2%;
  width: 96%;
  height:1810px;

}


.tabla{
  width: 50%;
  height:900px;
}

.s1{
  width:208px;
  height:50px;
  background-color:#C63739;
  color:black;
  font-size:20pt;
  font-family: Verdana;
  text-align:center;
 }
 .s2{
  width:208px;
  height:50px;
  background-color:#195AB2;
  color:black;
  font-size:20pt;
   font-family: Verdana;
   text-align:center;
 }
 .s3{
  width:208px;
  height:50px;
  background-color:#D656F3;
  color:black;
  font-size:20pt;
   font-family: Verdana;
   text-align:center;
 }
 .s4{
  width:208px;
  height:50px;
  background-color:#8EE961;
  color:black;
  font-size:20pt;
   font-family: Verdana;
   text-align:center;
 }
  .s5{
  width:208px;
  height:50px;
  background-color:#20F5C8;
  color:black;
  font-size:20pt;
   font-family: Verdana;
   text-align:center;
 }

  .s6{
  width:208px;
  height:50px;
  background-color:#EFF56F;
  color:black;
  font-size:20pt;
   font-family: Verdana;
   text-align:center;
 }
 
             
