#cancha {
    background-color:#000;
    color:#f96;
    padding:3%;
    background-size:100% 100%;
    background-image:url("ima/cancha.jpg" ); 
    width:40%;
    height:450px;
}

#contenido_texto {
  background-color:#D4E0E3;
  float:right;
  padding:2%;
  width: 77.15%;
  height:790px;

}
.cancha_general{
   width: 350px;
  height:50px;
}

.portero{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conteiner1{
   width: 350px;
  height:50px;
  display: flex;
  justify-content: space-around;

}
.conteiner2{
  display: flex;
  justify-content: space-around;

}
.conteiner3{
  width: 300px;
  height:50px;
  display: flex;
  justify-content: space-around;
}
.conteiner4{
  display: flex;
  justify-content: space-around;

}
.extremos{
      margin-top: 10px;
}
img{
  width: 30px;
  height: 30px;
}
#entrenador{
  color:#f96;
  padding:2%;
  background-size:100% 100%;
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjy7CxojO1yCc8LBzOlBIEYeMECV6-HgJT62Xtda9sAnv6yXrp" ); 
  width:18%;
  height:180px;
 }
