#cancha {
    background-color:#000;
    color:#f96;
    padding:3%;
    background-size:100% 100%;
    background-image:url("ima/cancha.jpg" ); 
    width:40%;
    height:450px;
}

#contenido_texto {
  background-color:#D4E0E3;
  float:right;
  padding:2%;
  width: 77.15%;
  height:1350px;

}

.portero{
  height:70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteiner1{
   width: 350px;
  height:80px;
  display: flex;
  justify-content: space-around;

}
.conteiner2{
  display: flex;
  justify-content: space-around;
}
.extremos{
      margin-top: 30px;
}
img{
  width: 30px;
  height: 30px;
}

#entrenador{
  color:#f96;
  padding:2%;
  background-size:100% 100%;
  background-image:url("https://media.diariopopular.com.ar/adjuntos/143/imagenes/004/529/0004529606.png" ); 
  width:18%;
  height:170px;
 }