* { 
  margin:0;
  padding:0;
}

#contenedor { /*Cambia el tamaño del fondo*/
  margin:5px auto;
  width:90%;
}




body {
    margin: 0 auto; 
}

#contenido_texto {
  background-color:#D4E0E3;
  float:right;
  padding:2%;
  width: 79.63%;
  height:1440px;

}

#cabecera {
    background-color:#000;
    color:#f96;
    padding:2%;
    background-size:100% 100%;
    background-image:url("ima/banner.jpg"); 
    width:96%;
    height:90px;
}

br {  clear:left}

#menu_horizontal { /*Barrita del menu*/
    width: 100%;
    background-color: #F7F3F3;
}

#menu_horizontal ul {
    margin: 0; padding: 0;
    float: left;
}


#menu_horizontal ul li {
    display: inline;
}

#menu_horizontal ul li a {
    float: left; text-decoration: none;
    color: #6BA6E6; 
    padding: 10.50px 12px;
    background-color:  #F7F3F3;
}
 
#menu_horizontal ul li a:visited {
    color: #6BA6E6;
}
 
#menu_horizontal ul li a:hover, #menu_horizontal ul li .current { /*Cambiar el color de la letra cuando se pone el cursor*/
    color: black;
    background-color: #F7F3F3;
}

#menu_vertical {  /*Contenedo gris*/
  font-size:1em;
  float:left;
  min-width: 150px;
  padding:2%;
  width:12%;
  background-color: #BAC0C0;
}
#menu_vertical ul {
    margin: 0; 
  padding: 0;
    float: left;
    width: 89%;
}

#menu_vertical ul li {
    display: block;
    margin: 0;
    padding: 0;
}

#menu_vertical ul li a {
    float: left; text-decoration: none;
    color: white; 
    padding: 10.5px 11px;
    background-color:  #2968A7;
  margin-bottom:4px;
  border-radius:5px;
  width: 100%;
}
#menu_vertical ul li a:visited {
    color: black;
}

 
#menu_vertical ul li a:hover, #menu_vertical ul li .current {
    color: black;
    background-color: #BAC0C0;
}

.conteiner{
  display: flex;
  justify-content: space-between;
}





