#cancha {
    background-color:#000;
    color:#f96;
    padding:3%;
    background-size:100% 100%;
    background-image:url("ima/cancha.jpg" ); 
    width:40%;
    height:450px;
}

#contenido_texto {
  background-color:#D4E0E3;
  float:right;
  padding:2%;
  width: 77.15%;
  height:1165px;

}

.portero{
  height:70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteiner1{
   width: 400px;
  height:40px;
  display: flex;
  justify-content: center;

}

.conteiner3{
   width: 400px;
  height:40px;
  display: flex;
  justify-content: space-around;
}
img{
  width: 30px;
  height: 30px;
}
#entrenador{
  color:#f96;
  padding:2%;
  background-size:100% 100%;
  background-image:url("https://pbs.twimg.com/profile_images/661632892993273856/023-ut2I.jpg" ); 
  width:25%;
  height:180px;
 }