#cancha {
    background-color:#000;
    color:#f96;
    padding:3%;
    background-size:100% 100%;
    background-image:url("ima/cancha.jpg" ); 
    width:40%;
    height:450px;
}

#contenido_texto {
  background-color:#D4E0E3;
  float:right;
  padding:2%;
  width: 77.15%;
  height:910px;

}

.portero{
  height:80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteiner1{
   width: 350px;
  height:60px;
  display: flex;
  justify-content: space-around;

}
.conteiner2{
   width: 350px;
  height:60px;
  display: flex;
  justify-content: space-around;

}
.extremos{
      margin-top: 45px;
}
img{
  width: 30px;
  height: 30px;
}
#entrenador{
  color:#f96;
  padding:2%;
  background-size:100% 100%;
  background-image:url("https://pbs.twimg.com/profile_images/749273160340631552/TEOQzOz5_400x400.jpg" ); 
  width:25%;
  height:180px;
 }