#cancha {
    background-color:#000;
    color:#f96;
    padding:3%;
    background-size:100% 100%;
    background-image:url("ima/cancha.jpg" ); 
    width:40%;
    height:450px;
}

#contenido_texto {
  background-color:#D4E0E3;
  float:right;
  padding:2%;
  width: 77.15%;
  height:910px;

}


.portero{
  height:70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteiner1{
   width: 350px;
  height:40px;
  display: flex;
  justify-content: space-around;

}
.conteiner2{
   width: 350px;
  height:40px;
  display: flex;
  justify-content: center;

}

.conteiner3{
  display: flex;
  justify-content: space-around;
}
.extremos{
      margin-top: 10px;
}
.extremos1{
      margin-top: 80px;
}
.extremos2{
      margin-top: 50px;
}
img{
  width: 30px;
  height: 30px;
}

#entrenador{
  color:#f96;
  padding:2%;
  background-size:100% 100%;
  background-image:url("http://theworldgame.sbs.com.au/sites/sbs.com.au.theworldgame/files/styles/full/public/images/h/e/heimir-hallgrimsson-cropped_ktbyzu4lob8s1x5tb1crxpdnu.jpg?itok=uwIndsTF&mtime=1471043609" ); 
  width:25%;
  height:180px;
 }