#cancha {
    background-color:#000;
    color:#f96;
    padding:3%;
    background-size:100% 100%;
    background-image:url("ima/cancha.jpg" ); 
    width:40%;
    height:450px;
}

#contenido_texto {
  background-color:#D4E0E3;
  float:right;
  padding:2%;
  width: 77.15%;
  height:946px;

}
.portero{
  height:70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteiner1{
   width: 350px;
  height:40px;
  display: flex;
  justify-content: space-around;

}


.extremos{
      margin-top: 30px;
}
.extremos1{
      margin-top: 15px;
}
img{
  width: 30px;
  height: 30px;
}

#entrenador{
  color:#f96;
  padding:2%;
  background-size:100% 100%;
  background-image:url("https://www.socceroos.com.au/sites/socceroos/files/socceroos/performgroup/1wqq7c721lkjp11lvr0x4v0oe8.jpg" ); 
  width:23%;
  height:160px;
 }