#cancha {
    background-color:#000;
    color:#f96;
    padding:3%;
    background-size:100% 100%;
    background-image:url("ima/cancha.jpg" ); 
    width:40%;
    height:450px;
}

#contenido_texto {
  background-color:#D4E0E3;
  float:right;
  padding:2%;
  width: 77.15%;
  height:1109px;

}

.portero{
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteiner1{
   width: 350px;
  height:40px;
  display: flex;
  justify-content: space-around;

}
.conteiner2{
   width: 350px;
  height:40px;
  display: flex;
  justify-content: center;

}

.conteiner3{
  display: flex;
  justify-content: space-around;
}
.extremos{
      margin-top: 10px;
}
.extremos1{
      margin-top: 80px;
}
.extremos2{
      margin-top: 50px;
}
img{
  width: 30px;
  height: 30px;
}

#entrenador{
  color:#f96;
  padding:2%;
  background-size:100% 100%;
  background-image:url("https://www.thesun.co.uk/wp-content/uploads/2017/03/dk-composite-620-2-gareth-southgate.jpg?strip=all&w=750&h=352&crop=1" ); 
  width:25%;
  height:180px;
 }