#cancha {
    background-color:#000;
    color:#f96;
    padding:3%;
    background-size:100% 100%;
    background-image:url("ima/cancha.jpg" ); 
    width:40%;
    height:450px;
}

#contenido_texto {
  background-color:#D4E0E3;
  float:right;
  padding:2%;
  width: 77.15%;
  height:970px;

}

.portero{
  height:70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteiner1{
   width: 350px;
  height:60px;
  display: flex;
  justify-content: space-around;

}

img{
  width: 30px;
  height: 30px;
}

#entrenador{
  color:#f96;
  padding:2%;
  background-size:100% 100%;
  background-image:url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/HERNAN_DARIO_GOM%C3%89Z_%2818351622268%29_%28cropped%29.jpg/245px-HERNAN_DARIO_GOM%C3%89Z_%2818351622268%29_%28cropped%29.jpg" ); 
  width:25%;
  height:180px;
 }