#cancha {
    background-color:#000;
    color:#f96;
    padding:3%;
    background-size:100% 100%;
    background-image:url("ima/cancha.jpg" ); 
    width:40%;
    height:450px;
}

#contenido_texto {
  background-color:#D4E0E3;
  float:right;
  padding:2%;
  width: 77.15%;
  height:1350px;

}

.portero{
  height:70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteiner1{
   width: 350px;
  height:80px;
  display: flex;
  justify-content: space-around;

}
.conteiner2{
  display: flex;
  justify-content: space-around;
}
.extremos{
      margin-top: 30px;
}
.extremos{
      margin-top: 30px;
}
img{
  width: 30px;
  height: 30px;
}

#entrenador{
  color:#f96;
  padding:2%;
  background-size:100% 100%;
  background-image:url("https://s-media-cache-ak0.pinimg.com/originals/63/42/32/6342326c97cac80e9259888eae45eeac.jpg" ); 
  width:25%;
  height:180px;
 }