* { 
  margin:0;
  padding:0;
}

#contenedor { /*Cambia el tamaño del fondo*/
  margin:5px auto;
  width:90%;
}



body { 
    background-image:url("ima/ru1.jpg" ); 
    margin: 0 auto; 
}


#cabecera {
    background-color:#000;
    color:#f96;
    padding:2%;
    background-size:100% 100%;
    background-image:url("ima/banner.jpg"); 
    width:96%;
    height:90px;
}

br {  clear:left}


#menu_vertical {  /*Contenedo gris*/
  font-size:1em;
  float:right;
  min-width: 180px;
  padding:2%;
  width:12%;
  background-color: #BAC0C0;
}
#menu_vertical ul {
    margin: 0; 
  padding: 0;
    float: left;
    width: 89%;
}

#menu_vertical ul li {
    /*display: block;*/
    margin: 0;
    padding: 0;
}

 
 img{
  width: 70px;
  height: 70px;
}