#cancha {
    background-color:#000;
    color:#f96;
    padding:3%;
    background-size:100% 100%;
    background-image:url("ima/cancha.jpg" ); 
    width:40%;
    height:450px;
}

#contenido_texto {
  background-color:#D4E0E3;
  float:right;
  padding:2%;
  width: 77.15%;
  height:790px;

}
.portero{
  height:70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteiner1{
   width: 350px;
  height:40px;
  display: flex;
  justify-content: space-around;

}


.extremos{
      margin-top: 30px;
}
.extremos1{
      margin-top: 15px;
}
img{
  width: 30px;
  height: 30px;
}

#entrenador{
  color:#f96;
  padding:2%;
  background-size:100% 100%;
  background-image:url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Ange_Postecoglou_01.jpg/272px-Ange_Postecoglou_01.jpg" ); 
  width:22%;
  height:150px;
 }